@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: #434190;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Nunito";
}


.error--login {
  color: #E53E3E;
  margin-bottom: 8px;
}